<a href="https://colab.research.google.com/github/tanay47/Airbnb-Data-Analysis/blob/main/Copy_of_Airbnb_Bookings_Analysis_Capstone_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## <b> Since 2008, guests and hosts have used Airbnb to expand on traveling possibilities and present a more unique, personalized way of experiencing the world. Today, Airbnb became one of a kind service that is used and recognized by the whole world. Data analysis on millions of listings provided through Airbnb is a crucial factor for the company. These millions of listings generate a lot of data - data that can be analyzed and used for security, business decisions, understanding of customers' and providers' (hosts) behavior and performance on the platform, guiding marketing initiatives, implementation of innovative additional services and much more. </b>

## <b>This dataset has around 49,000 observations in it with 16 columns and it is a mix between categorical and numeric values. </b>

## <b> Explore and analyze the data to discover key understandings (not limited to these) such as : 
* What can we learn about different hosts and areas?
* What can we learn from predictions? (ex: locations, prices, reviews, etc)
* Which hosts are the busiest and why?
* Is there any noticeable difference of traffic among different areas and what could be the reason for it? </b>

### THIS IS A REALLY SIMPLE EDA ON AIRBNB DATASET WHICH WILL ANSWER BASIC QUERY USING VARIABLES OF THIS DATASET.

In [1]:
### FIRST THINGS, FIRST. WHICH WILL GET OUR BOAT GOING.

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
### MOUNTING NOTEBOOK TO DRIVE.

from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
### READING OUR DATASET. ALSO CHECKING USING head() FUNCTION.

airbnb_df = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/CS PROJECT 1 (EDA)/Copy of Airbnb NYC 2019.csv")
airbnb_df.head(2)

     id  ... availability_365
0  2539  ...              365
1  2595  ...              355

[2 rows x 16 columns]

In [4]:
### GLANCING AT ALL COLUMNS OF DATASET, CHECKING FOR UNWANTED CATEGORIES/COLUMNS.

airbnb_df_columns = airbnb_df.columns
airbnb_df_columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365'],
      dtype='object')

In [5]:
### DROPPING UNWANED COLUMNS 'latitude', 'longitude' TO HAVE A PRECISE DATASET.

airbnb_df = airbnb_df.drop(['latitude', 'longitude','last_review'], axis=1)

In [6]:
### TO HAVE A SENSIBLE DATA TO WORK WITH, WE WILL CHECK AND ELIMINATE DUPLICATE OBSERVATIONS/RECORDS.

dupli_rows_df = airbnb_df[airbnb_df.duplicated()]
print(f"No of duplicate record is", {dupli_rows_df.shape})

No of duplicate record is {(0, 13)}

GREAT, WE HAVE NO DUPLICATE RECORDS OR OBSERVATIONS. SO, MOVING AHED.

### WE'LL ALSO HAVE TO TAKE CARE OF MISSING DATA, NULL VALUES.

In [7]:
### CHECK FOR MISSING DATA, NULL VALUES. ALSO REPLACING THEM WITH APPROPRIATE DATA.

airbnb_df.isnull().sum()

id                                    0
name                                 16
host_id                               0
host_name                            21
neighbourhood_group                   0
neighbourhood                         0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

ANALYSING FROM ABOVE DATA, WE CAN ELEMINATE NULL OBSERVATIONS FROM COLUMNS ["names", "host_name"],  AS ELEMINATING THEM WILL NOT CAUSE ANY DISTURBING CHANGE IN DATA.

In [8]:
### ELEMINATING ALL NULL VALUES FROM COLUMNS  "name" AND "host_name".

airbnb_df.dropna(subset = ["name","host_name"], inplace=True)

In [9]:
### SUBSTITUTING "0" IN ALL "NAN" VALUES IN COLUMN "reviews_per_month".

airbnb_df.fillna(0,inplace=True)

### CONFIRMING IF ALL THE "NAN" VALUES ARE REPLACED.
airbnb_df.isna().sum()

id                                0
name                              0
host_id                           0
host_name                         0
neighbourhood_group               0
neighbourhood                     0
room_type                         0
price                             0
minimum_nights                    0
number_of_reviews                 0
reviews_per_month                 0
calculated_host_listings_count    0
availability_365                  0
dtype: int64

GREAT, AT THIS POINT WE HAVE TAKEN CARE OF ALL "NAN" VALUES.

LASTLY WE SHOULD ALSO CHECK FOR OUTLIERS FOR RELEVENT COLUMNS.

In [11]:
### EXTRACTING INFO FROM DATAFRAME USING info() finction.

airbnb_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48858 entries, 0 to 48894
Data columns (total 13 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              48858 non-null  int64
 1   name                            48858 non-null  object
 2   host_id                         48858 non-null  int64
 3   host_name                       48858 non-null  object
 4   neighbourhood_group             48858 non-null  object
 5   neighbourhood                   48858 non-null  object
 6   room_type                       48858 non-null  object
 7   price                           48858 non-null  int64
 8   minimum_nights                  48858 non-null  int64
 9   number_of_reviews               48858 non-null  int64
 10  reviews_per_month               48858 non-null  float64
 11  calculated_host_listings_count  48858 non-null  int64
 12  availability_365                48858 non-null  int64
dtypes: float64(1), int64(7), object(5)
memory usage: 5.2+ MB